/*  your css code here. If applicable */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: white;
  padding: 30px;
  width: 360px;
  border-radius: 8px;
  text-align: center;
}

.code-container {
  display: flex;
  justify-content: space-between;
}

.code {
  width: 45px;
  height: 55px;
  font-size: 24px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 6px;
}